
@media screen and (max-width: 1200px) {
  .center_header .center__title h1 {
    font-size: 75px !important;
    font-weight: 600;
  }

  .testimonial .testimonial-main .card .testimonial-img img {
    position: absolute;
    background: #fff;
    padding: 4px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: -95px;
    top: 22px;

  }

}

@media screen and (max-width: 992px) {

  .testimonial .testimonial-main .card .testimonial-img img {
    position: absolute;
    background: #fff;
    padding: 4px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: -95px;
    top: 18px !important;

}


  .form-box .form-card {

    border: 1px solid #eaf0fc;
    padding: 30px;

  }

  .form-box .form-card .form-contact {
    display: none;

  }

  .form-box .form-card .touch {
    width: 90%;
  }

}



@media screen and (max-width: 768px) {
  .main__header .row__header {

    top: 330px;


  }
  .center_header .center__title h1 {
    font-size: 50px !important;
  }

  .about {
    top: 700px;
    margin-bottom: 600px;
    position: relative;
    overflow: hidden;
  }

  .awesome .awesome-main {
    border-right: none;
  }

  .testimonial .testimonial-main .card .testimonial-img img {
    position: absolute;
    background: #fff;
    padding: 4px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    left: -95px;
    top: 30px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }


  

  footer .footer_main .footer_component {
    width: 100vw;
    margin-left: 20px;
  }

}

/* screen 600px */
@media screen and (max-width: 600px) {

  .section-repeat h6 {
    font-size: 20px;
  }

  .section-repeat h5 {
    font-size: 30px;
  }

  .center_header .center__title p {
    margin-top: 70px !important;
    font-size: 30px;
  }
  
  .center_header .center__title h1 {
    margin-top: 5px;
    font-size: 40px !important;

  }

  .awesome .awesome-main {
    border-right: none;
  }


  .testimonial .testimonial-main .card {
    width: 80%;
    margin: auto;
    padding: 0px 0px 0px 40px;

  }

  .testimonial .card .card-body p {
    color: #9ca0a3;
    font-size: 15px;
  }

  .testimonial .testimonial-main .card .testimonial-img img {

    left: -80px;
    top: 40px;

  }

  .testimonial .testimonial-main h6 {
    color: #495057;
    font-size: 18px;

  }

}
